/* CSS Goes Here*/
:root {
    --primary-color: #002868;
    --secondary-color: #bf0a30;
    --tertiary-color: #ffff;
}

.navbar {
    padding: 5px 5px;
    background-color: #002868;
}

.img-container {
    width: 320px;
}

#hero {
    background-image: url("../images/gc-hero.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    

}